*{margin: 0; padding: 0;}
a{text-decoration: none;}
kbd{display: inline-block; border: 1px solid teal; width: 2em; height: 2em;
    text-transform: uppercase;}
#mainxx{
    display: inline-block;
} 
#mainxx > div:nth-child(2){
    margin-left: 1em;
}
#mainxx > div:nth-child(3){
    margin-left: 2em;
}